footer {
    background-color: #142b40 !important;
    font-weight: bold;
}

footer ul li {
    list-style-type: none;
    margin: 7px 0px;
}

footer ul {
    padding-left: 0;
}

.st-footer-link{
    text-decoration: none;
    color: #cccccc;
    font-size: 0.8em;
}

footer p {
    color: #cccccc !important;
}

.social-icon {
    display: flex;
    width: 20px;
}

.social-icon i {
    width: 40px;
    margin: 10px;
    font-size: 25px;
}

.social-icon i:hover{
    /* color: #ffca2c; */
    color: red;
}

.developedBy {
    border-top: 1px solid white;
    margin-top: 5px;
    padding-top: 20px;
}

a.st-footer-link:hover {
    color: red;
}