<footer>
    <div class="container py-4">
      <div class="row">
        <div class="col-md-12 col-lg col-xl">
          <img src="assets/img/logo.jpeg" alt="" width="120" height="100">
          <p class="h5">Sedes:</p>
          <ul>
            <li>
              <p class="st-footer-link">Av. Paseo de la República Nro. 569 La Victoria - PERÚ</p>
            </li>
            <li>
              <p class="st-footer-link" >Av. Javier Prado Este Nro. 1155 La Victoria - PERÚ</p>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg col-xl mt-4">
          <p class="h5">Enlaces Útiles:</p>
          <ul>
            <li class="col-12"><a class="st-footer-link" href="">PÓLITICA DE PRIVACIDAD</a></li>
            <li class="col-12"><a class="st-footer-link" href="">TÉRMINOS Y CONDICIONES</a></li>
            <li class="col-12"><a class="st-footer-link" href="">CÓDIGO DE ÉTICA Y CONDUCTA</a></li>
            <li class="col-12">
              <a class="st-footer-link">
                <img src="https://www.civa.com.pe/static/media/icon-libro-de-reclamaciones.8996dd449c8605b693a7.webp"
                  alt="Libro de reclamaciones" width="65" height="40" />LIBRO DE RECLAMACIONES</a>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg col-xl mt-4">
          <p class="h5">Nuestras redes:</p>
          <ul class="social-icon">
            <li>
              <a href="">
                <i class="fab fa-facebook st-footer-link" ></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-instagram st-footer-link"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fab fa-whatsapp st-footer-link" ></i>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="col-xs-12 text-center text-white developedBy">
        <p>Copyright - Todos los derechos reservados © 2024</p>
        <a href="#" class="st-footer-link">Developed by SebasTorresDev</a>
      </div>
    </div>
  </footer>
