<div class="contenedor">
    <div class="row">
        <div class="st-container-item col-lg-5 col-md-3" >
            <div class="st-btn">1</div>
            <span class="st-title">Selección de asiento</span>
            <hr>
        </div>
        <div class="st-container-item col-lg-5 col-md-3">
            <div class="st-btn">2</div>
            <span class="st-title">Información del pasajero</span>
            <hr>
        </div>
        <div class="st-container-item col-lg-0 col-md-1">
            <div class="st-btn">3</div>
            <span class="st-title">Pago</span>
        </div>
    </div>
</div>