<div class="sticky-lg-top st-filter">
  <div class="st-filter__box">
    <div class="row align-items-center">
      <div class="col-xs-12 col-lg p-2 input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-location-dot"></i>
        </span>
        <select class="form-select">
          <option selected>Origen</option>
          <option value="Lima">Lima</option>
          <option value="Arequipa">Arequipa</option>
          <option value="Trujillo">Trujillo</option>
          <option value="Chiclayo">Chiclayo</option>
          <option value="Piura">Piura</option>
          <option value="Cusco">Cusco</option>
          <option value="Iquitos">Iquitos</option>
          <option value="Huancayo">Huancayo</option>
          <option value="Tacna">Tacna</option>
          <option value="Chimbote">Chimbote</option>
          <option value="Pucallpa">Pucallpa</option>
          <option value="Juliaca">Juliaca</option>
          <option value="Ica">Ica</option>
          <option value="Sullana">Sullana</option>
          <option value="Ayacucho">Ayacucho</option>
          <option value="Huaraz">Huaraz</option>
          <option value="Tarapoto">Tarapoto</option>
          <option value="Chachapoyas">Chachapoyas</option>
          <option value="Huánuco">Huánuco</option>
          <option value="Puno">Puno</option>
          <option value="Cajamarca">Cajamarca</option>
          <option value="Tumbes">Tumbes</option>
        </select>
      </div>
      <div class="col-xs-12 col-lg p-2 input-group">
        <span class="input-group-text">
          <i class="fa-solid fa-location-dot"></i>
        </span>
        <select class="form-select">
          <option selected>Destino</option>
          <option value="Lima">Lima</option>
          <option value="Arequipa">Arequipa</option>
          <option value="Trujillo">Trujillo</option>
          <option value="Chiclayo">Chiclayo</option>
          <option value="Piura">Piura</option>
          <option value="Cusco">Cusco</option>
          <option value="Iquitos">Iquitos</option>
          <option value="Huancayo">Huancayo</option>
          <option value="Tacna">Tacna</option>
          <option value="Chimbote">Chimbote</option>
          <option value="Pucallpa">Pucallpa</option>
          <option value="Juliaca">Juliaca</option>
          <option value="Ica">Ica</option>
          <option value="Sullana">Sullana</option>
          <option value="Ayacucho">Ayacucho</option>
          <option value="Huaraz">Huaraz</option>
          <option value="Tarapoto">Tarapoto</option>
          <option value="Chachapoyas">Chachapoyas</option>
          <option value="Huánuco">Huánuco</option>
          <option value="Puno">Puno</option>
          <option value="Cajamarca">Cajamarca</option>
          <option value="Tumbes">Tumbes</option>
        </select>
      </div>
      <div class="col-xs-12 col-lg p-2 input-group">
        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>
        </span>
        <input class="form-control st-date" type="text" placeholder="Fecha de salida" />
      </div>
      <div class="col-xs-12 col-lg p-2 input-group">
        <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i>
        </span>
        <input class="form-control st-date" type="text" placeholder="Fecha de retorno" />
      </div>

      <div class="col-xs-12 col-lg p-2">
        <a class="btn btn-warning w-100">
          Buscar</a>
      </div>
    </div>
  </div>
</div>