<section class="container">
    <div class="st-car">
        <div class="st-floor">
            <div class="st-header">
                <h3>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="sc-dlWCHZ eRbrRf" 
                    style="max-height: 100%;"><path d="M19.878 10.425a8.029 8.029 0 1 0-9.448 9.448 8.043 
                    8.043 0 0 0 9.448-9.448zM6.445 9.22a6.217 6.217 0 0 1 11.097-.045.57.57 0 0 1-.61.814 27.287 27.287 
                    0 0 0-4.814-.52 29.42 29.42 0 0 0-5.063.553.564.564 0 0 1-.61-.802zm3.277 8.566a6.255 6.255 0 0 
                    1-3.684-4.046.578.578 0 0 1 .43-.712c1.028-.215 1.412.068 2.7.475a.702.702 0 0 1 .52.43l.712 2.903c.18.724-.26 
                    1.108-.678.95zm2.271-4.543a1.469 1.469 0 1 1 1.47-1.469 1.466 1.466 0 0 1-1.47 1.469zm5.99.44a6.213 6.213 0 0 
                    1-3.436 3.99.567.567 0 0 1-.768-.656l.712-2.836a.864.864 0 0 1 .553-.678 2.808 2.808 0 0 1 2.509-.531.586.586 0 0 1 .43.712z">
                </path></svg>
                    Primer piso - 
                    <span>140°</span>
                </h3>
            </div>
            <div class="st-seats">
                <div class="st-row">
                    <div class="st-col">
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-stair></app-stair>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="01" [isAvailable]="isSeatAviable(1,1)" 
                        (datosEnviados)="onSeatClicked($event)"
                        [seatSelectionAvailable]="seatSelectionAvailable"></app-seat>
                        <app-seat floorNumber="1" seatNumber="02" (datosEnviados)="onSeatClicked($event)"
                        [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(2,1)"></app-seat>
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="04" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(4,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="03" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(3,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="05" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(5,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="06" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(6,1)"></app-seat>
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="08" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(8,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="07" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(7,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="09" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(9,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="10" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(10,1)"></app-seat>
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="12" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(12,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="11" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(11,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="13" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(13,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="14" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(14,1)"></app-seat>
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="16" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(16,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="15" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(15,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="17" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(17,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="18" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(18,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="20" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(20,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="19" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(19,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="21" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(21,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="22" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(22,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="24" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(24,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="23" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(23,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="25" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(25,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="26" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(26,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="28" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(28,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="27" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(27,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="29" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(29,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="30" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(30,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="32" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(32,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="31" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(31,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="33" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(33,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="34" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(34,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="36" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(36,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="35" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(35,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="37" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(37,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="38" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(38,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="40" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(40,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="39" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(13,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="41" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(41,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="42" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(42,1)"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <app-seat floorNumber="1" seatNumber="44" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(44,1)"></app-seat>
                        <app-seat floorNumber="1" seatNumber="43" (datosEnviados)="onSeatClicked($event)" [seatSelectionAvailable]="seatSelectionAvailable" [isAvailable]="isSeatAviable(43,1)"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-toilet></app-toilet>
                    </div>
                </div>
            </div>
            <div class="st-footer">
            </div>
        </div>
    </div>
</section>

