<section class="container">
    <div class="st-car">
        <div class="st-floor">
            <div class="st-header">
                <h3>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="sc-dlWCHZ eRbrRf" 
                    style="max-height: 100%;"><path d="M19.878 10.425a8.029 8.029 0 1 0-9.448 9.448 8.043 
                    8.043 0 0 0 9.448-9.448zM6.445 9.22a6.217 6.217 0 0 1 11.097-.045.57.57 0 0 1-.61.814 27.287 27.287 
                    0 0 0-4.814-.52 29.42 29.42 0 0 0-5.063.553.564.564 0 0 1-.61-.802zm3.277 8.566a6.255 6.255 0 0 
                    1-3.684-4.046.578.578 0 0 1 .43-.712c1.028-.215 1.412.068 2.7.475a.702.702 0 0 1 .52.43l.712 2.903c.18.724-.26 
                    1.108-.678.95zm2.271-4.543a1.469 1.469 0 1 1 1.47-1.469 1.466 1.466 0 0 1-1.47 1.469zm5.99.44a6.213 6.213 0 0 
                    1-3.436 3.99.567.567 0 0 1-.768-.656l.712-2.836a.864.864 0 0 1 .553-.678 2.808 2.808 0 0 1 2.509-.531.586.586 0 0 1 .43.712z">
                </path></svg>
                    Primer piso - 
                    <span>160°</span>
                </h3>
            </div>
            <div class="st-seats">
                <div class="st-row">
                    <div class="st-col">
                        <app-toilet></app-toilet>
                    </div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-stair></app-stair>
                    </div>
                </div>
                <hr>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="02"></app-seat>
                        <app-seat seatNumber="03"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="01"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="05"></app-seat>
                        <app-seat seatNumber="06"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="04"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="08"></app-seat>
                        <app-seat seatNumber="09"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="07"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="11"></app-seat>
                        <app-seat seatNumber="12"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="10"></app-seat>
                    </div>
                </div>
            </div>
            <div class="st-footer">
            </div>
        </div>
        <div class="st-floor">
            <div class="st-header">
                <h3>
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="sc-dlWCHZ eRbrRf" 
                    style="max-height: 100%;"><path d="M19.878 10.425a8.029 8.029 0 1 0-9.448 9.448 8.043 8.043 
                    0 0 0 9.448-9.448zM6.445 9.22a6.217 6.217 0 0 1 11.097-.045.57.57 0 0 1-.61.814 27.287 27.287 
                    0 0 0-4.814-.52 29.42 29.42 0 0 0-5.063.553.564.564 0 0 1-.61-.802zm3.277 8.566a6.255 6.255 0 
                    0 1-3.684-4.046.578.578 0 0 1 .43-.712c1.028-.215 1.412.068 2.7.475a.702.702 0 0 1 .52.43l.712 
                    2.903c.18.724-.26 1.108-.678.95zm2.271-4.543a1.469 1.469 0 1 1 1.47-1.469 1.466 1.466 0 0 1-1.47 
                    1.469zm5.99.44a6.213 6.213 0 0 1-3.436 3.99.567.567 0 0 1-.768-.656l.712-2.836a.864.864 0 0 1 
                    .553-.678 2.808 2.808 0 0 1 2.509-.531.586.586 0 0 1 .43.712z"></path></svg>
                    Segundo piso - 
                    <span>160°</span>
                </h3>
            </div>
            <div class="st-seats">
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="14" [isAvailable]="false"></app-seat>
                        <app-seat seatNumber="15"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="13"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="17"></app-seat>
                        <app-seat seatNumber="18"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="20"></app-seat>
                        <app-seat seatNumber="21"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-stair></app-stair>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="23"></app-seat>
                        <app-seat seatNumber="24"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="16"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="26"></app-seat>
                        <app-seat seatNumber="27"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="19"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="29"></app-seat>
                        <app-seat seatNumber="30"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="22"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="32"></app-seat>
                        <app-seat seatNumber="33"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="25"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="34"></app-seat>
                        <app-seat seatNumber="35"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="28"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="36"></app-seat>
                        <app-seat seatNumber="37"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-seat seatNumber="31"></app-seat>
                    </div>
                </div>
                <div class="st-row">
                    <div class="st-col">
                        <app-seat seatNumber="38"></app-seat>
                        <app-seat seatNumber="39"></app-seat></div>
                    <div class="st-row-pass">
                    </div>
                    <div class="st-col">
                        <div></div>
                        <app-toilet></app-toilet>
                    </div>
                </div>
            </div>
            <div class="st-footer">
            </div>
        </div>
    </div>
</section>
